/*Global*/
*{
    margin: 0;
    padding: 0;
    border: 0;
    color: white;
    font-family: 'Golos Text', sans-serif;
    transition: 700ms all;
    scroll-behavior: smooth;
}
p{
    font-weight: 600;
}
a{
    font-weight: 500;
    font-size: 1.3rem;   
}
h1{
    font-size: 1.5rem;
    color: white;
}

/**********************************Sidebar*********************************/
.sidebar{
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    width: 15rem;
    background-color: #721121;
}
.sidebar .nav{
    height: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    overflow-y: auto;
}
.sidebar .nav ul{
    height: 100%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    gap: 3rem;
}
.sidebar .nav ul li{
    list-style: none;
    text-align: center;
}
.sidebar .nav ul li a{
    text-decoration: none;
    color: white;
}
.closebtn{
    height: 3rem;
    width: 3rem;
    background-color: white;
    color: #333;
    font-size: 1.5rem;
    font-weight: 900;
    text-align: center;
}
.sidebtn{
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 0 0 0 50%;
}
/*estilos del sidebar con acciones usando js*/
.sidebarHidden{
    width: 0;
}


/**********************************Main content*********************************/

.main{
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    place-items: center;
    margin-left: 15rem;
    min-height: 100vh;
    background-color: #F15156;
    overflow: hidden;
    /* background-color: #F15156; */
    /* background: radial-gradient(circle at 95% 100%, rgb(255, 174, 68), rgb(248, 255, 121), rgb(255, 185, 50)); */
}
/*estilos de contenido principal editado con js*/
.mainAll{ 
    margin: 0;
}

/**********************************Space content**********************************/

.spaceCont{
    position: relative;
    background-color: #333;
    height: 100%;
    width: 100%;
}
.spaceCont .contbtn{
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 0 0 50% 0;
}
.spaceCont .contbtnHidden{
    display: none;
}
.spaceCont .buhoimg {
    position: absolute;
    top: 1rem;
    right: 1rem;
    height: 2rem;
    width: 2rem;
}



