/**********************************Contenido**********************************/
.section {
    margin: 3rem;
    min-height: 90%;
    
}
.salidaSeccion{
    animation: salidaContenido 1.5s forwards;
}
.entradaSeccion{
    animation: entradaContenido 1.5s forwards;
}

/*Bloques de contenido*/

/*Bloque general*/
.contenidoMostrado{
    margin: .5rem;
    min-height: 53rem;
    height: 100%;
    /*border: 5px groove orange;
    border-radius: 2rem;
     background-color: rgb(81, 81, 81); */
    position: relative;
}
.novisto{
    display: none;
}

/*contenido 1*/
.home{
    border-radius: 10px;
    margin: .5rem;
}

.dia1H2 {
    font-size: 4rem;
    margin: 1rem 0;
    text-align: center;
    text-transform: uppercase;
}
.hometxt{
    position: absolute;
    bottom: 50%;
    left: 2rem;
    width: 20%;
    height: 30%;
    text-align: justify;
}
.hometxt>span{
    font-size: 20px;
    font-weight: 500;
}
.dia1P{
    
    padding-left: 1rem;
    text-align: justify;
    font-weight: 500;
    padding-bottom: .5rem;
}

.quienImg {
    max-height: 350px;
}
.controlGif{
    position: absolute;
    top: 50px;
    right: 10px;
    max-height: 50px;
    max-width: 150px;
    border-radius: 50px;
    transform: rotate(25deg);
    animation: semiDesaparecer 2s infinite alternate;
}


/* Contacto */
.contacto{
    padding-left: 2rem;
}
.contacto p{
    padding: .5rem 0;
}
.linke, .github,.tel,.correo{
    text-decoration: none;
    font-size: 25px;
    font-weight: 500;
}
.tel>span::before{
    padding-left: 5px;
    content: '55 34 52 25 41';
    width: fit-content;
    height: fit-content;
}
.correo>span::before{
    padding-left: 5px;
    content: 'iandelrazo@gmail.com';
    width: fit-content;
    height: fit-content;
}

/* Proyectos */
.proyectos{
    width: 50%;
    padding-left: 1rem;
}
.proyectos>p>a{
    text-decoration: none;
    font-size: 25px;
    font-weight: 500;
}




@keyframes semiDesaparecer {
    from{
        opacity: 1;
        box-shadow: 0 0 5px 5px rgb(157, 53, 255);
    }
    to{
        opacity: .3;
        box-shadow: 0 0 5px 5px rgb(52, 0, 100);
    }
}





/*animaciones de entrada y salida */
.entraEpicamente{
    animation: entraCartoon 1.8s forwards;
}
.saleEpicamente{
    animation: salidaCartoon 1.9s forwards;
}
@keyframes entraCartoon {
    from{
        transform: translate(-200rem,0);
    }
    to{
        transform: translate(0,0);
        
    }
}
@keyframes salidaCartoon {
    from{
    }
    to{
        transform: translateX(-200rem)
    }
}

@media (max-width: 767px) {
    .section{
        margin: 0;
    }
    .dia1H2{
        margin-top: 2rem;
        font-size: 3rem;
    }
    .hometxt{
        width: 80%;
    }
}

@media (max-width: 500px) {
    .section{
        margin: 0;
    }
}